.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectItemWrap{
  border: 1px solid hsl(0, 0%, 80%);;
  border-radius: 6px;
  padding: 8px;
}

.resultItem{
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.resultItemArrow{
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  width: 100%;
  text-align:center;
}

.selectLabel{
  font-size: .8rem;
  font-weight: bold;
  color: #525252;
  margin-bottom: 6px;
}

.resultItemImage{
  height: 120px;
  width: 120px;
  margin-right: 10px;
}